* {
    margin: 0;
}
body {
    margin: 0;
    background-color: rgb(190,181,195);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    background-color:rgb(0,89,134);
    justify-content: center;
}

.left-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#channel {
    width: 60px;
    height: 60px;
}
#weather {
    margin-right: 30px;
}
#IBM {
    color: rgb(255,255,255);
    font-weight: bold;
}
.middle-header {
    display: flex;
    margin: 0 250px;
    align-items: center;
    padding: 0 10px;
    color: rgb(255,255,255);
    position: relative;
}

.postcode {
    border: 0;
    border-radius: 20px;
    background-color: rgb(51,122,158);
    text-align: center;
    color: rgb(255,255,255);
    padding: 5px 6px;
}
.div2 {
    position: absolute;
    right: 8px;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-1 {
    margin-right: 15px;
}
.country {
    margin-right: 10px;
    color:rgb(255,255,255)
}
.celsius {
    margin: 0 5px
}

.slash {
    color:rgb(255,255,255)
}

#wingu {
    color: rgb(255,255,255);
    position: relative;
    left: 20%;
}

.empty {
    background-color:rgb(51,122,158);
    width: 100%;
    height: 25px;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: rgb(0,53,80);
}
.left-nav {
    padding: 15px;
}
.left-nav a {
    text-decoration: none;
    margin: 0 50px;
    color: rgb(255,255,255);
    padding: 13px 0;
}

.left-nav a:hover {
    border-bottom: 2px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 15px;
}
.dropbtn {
    color: rgb(255,255,255);
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(255,255,255) ;
    padding: 25px;
    width: 400%;
    height: auto;
}
.dropdown-content a {
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.block-1 {
    color: rgb(255,255,255);
    width: 50%;
    margin: 10px auto;
}
.upper {
    background-image: linear-gradient(to right, rgb(12,70,86),rgb(78,94,108) );
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.lower {
    background-image: linear-gradient(to right,rgb(22,153,186),rgb(130,189,217) );
    text-indent: 15px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#degree-27  {
    font-size: 96px; 
    padding: 0px;
    margin: 0;
}

#fair {
    font-size: 24px;
    margin: 0;
}
#day {
    font-size: 24px;
    font-weight: 700;
}

.carry-2 {
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    width: 50%;
    margin: 10px auto;
    border-radius: 12px;
}
block-2 {
    margin: 0;
    padding: 0;
}
.namba {
    font-size: 36px;
    color:rgb(27,77,228) ;
}
header {
    margin: 0;
    text-align: left;
}
.carry-2 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.carry-2 li a {
    display: block;
    float: left;
    padding: 30px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    border-right:2px solid rgb(222,222,222);
}
.carry-2 li {
    padding: 30px;
}
.carry-2 li a:hover {
    cursor: pointer;
}
#unique {
    border-right: none;
}

#sun {
    width:55px ;
    height: 55px;
}
.footer-1 {
    display: inline-block;
    background-color: rgb(27,77,228);
    border: 2px solid transparent;
    border-radius: 12px;
    margin-bottom: 10px;
}
.footer-1 a {
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 13px;
    font-weight: 700;
    padding: 15px;
}
.footer-1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-h2 {
    margin: 0;
}

.block-3 {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    border: 2px solid transparent;
    border-radius: 12px;
} 
.header-3 {
    padding: 1px;
}
.yangu {
    size: 2px;
    color: rgb(254,188,17);
}
.contain {
    width: 100%;
    display: flex;
}
.feel {
    width: 85%;
}
.sunrise {
    width: 15%;
    padding-top: 120px;
}
#text {
    font-size: 56px;
    color: rgb(43.43.43);
    padding: 15px;
    margin: 0;
}
#normal-text {
    padding: 15px;
}

.details {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.namba-2 {
    color:rgb(27,150,239) ;
}
.no-1 {
    display: flex;
    border-bottom: 2px solid rgb(222,222,222);
}
.thermometer {
    width: 10%;
    text-align: center;
}
.letters {
    width: 70%;
    text-align: left;
}
.temperature {
    display: block;
    width: 20%;
}
.except {
    border: none;
}
.wind {
    border-top: 2px solid rgb(222,222,222);
}


.footer {
    background-color: rgb(255,255,255);
}

.line-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.connect {
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(43,43,43);
}
.social {
    width: 50%;
}
.no-background {
}
.line-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.line-1 li {
    float: left;
}
.line-1 li a {
    display: block;
    padding: 10px;
    color: rgb(173,104,43);
}
.line-1 li a:hover {
    color: blue;
}
#drop {
    width: 70px;
    height: 70px;
}
#drop-2 {
    width: 35px;
    height: 35px;
    top: 5px;
}
#underground {
    width: 50px;
    height: 50px;
}

.line-2 {
    display: flex;
    justify-content: center;
}
.line-2 a {
    display: block;
    margin: 10px;
    text-decoration: none;
}
.line-2 a:hover {
    color: blue;
}

.line-3 {
    display: flex;
    justify-content: center;
}
.line-3 ul {
    list-style-type: none;
    
}
.line-3 li {
    float: left;
}
.line-3 li a {
    display: block;
    text-decoration: none;
    margin: 15px;
    border-right: 2px solid;
    padding-right: 10px;
}
.line-3 li a:hover {
    color: blue;
}

.line-4 {
    display: flex;
    justify-content: center;
}
#georgia {
    width:35px;
    height: auto;
}
#georgia-text {
    color: rgb(138,122,103);
    margin-right: 10px;
}
.fas:hover {
    color: blue;
}

.line-5 {
    display: flex;
    justify-content: center;
}
#last {
    font-size: 14px;
    margin: 15px 0;
}

.line-6 {
    display: flex;
    justify-content: center;
}
#rights {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 15px 0;
}
#rights:hover {
    color: blue;
}

.line-7 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.line-8 {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.line-8 a {
    text-decoration: none;
}